.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.677734;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls1{letter-spacing:-0.600000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-10.882311px;}
._5{margin-left:-1.835311px;}
._6{width:1.138499px;}
._0{width:3.564000px;}
._4{width:41.424000px;}
._3{width:361.608000px;}
._2{width:1345.608046px;}
.fc3{color:rgb(255,192,0);}
.fc2{color:rgb(152,72,7);}
.fc1{color:rgb(126,126,126);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:56.000000px;}
.fs6{font-size:58.000000px;}
.fsa{font-size:64.000000px;}
.fs8{font-size:72.000000px;}
.fs9{font-size:74.000000px;}
.fs3{font-size:96.000000px;}
.fs5{font-size:98.000000px;}
.fsb{font-size:99.599998px;}
.fs2{font-size:112.000000px;}
.fs4{font-size:114.000000px;}
.fs7{font-size:128.000000px;}
.fs0{font-size:144.000000px;}
.fsc{font-size:216.000000px;}
.y0{bottom:0.000000px;}
.y3{bottom:19.537071px;}
.y36{bottom:38.171921px;}
.y11{bottom:48.011948px;}
.y35{bottom:59.771927px;}
.y5{bottom:77.641983px;}
.y34{bottom:81.371933px;}
.y10{bottom:81.611954px;}
.y25{bottom:81.611969px;}
.y47{bottom:89.951996px;}
.y33{bottom:102.971939px;}
.y3f{bottom:111.551994px;}
.yf{bottom:115.211960px;}
.y24{bottom:115.211975px;}
.y3e{bottom:117.551994px;}
.y4c{bottom:119.951996px;}
.y32{bottom:124.571945px;}
.y4b{bottom:141.551994px;}
.y4{bottom:146.841986px;}
.ye{bottom:148.811966px;}
.y23{bottom:148.811981px;}
.y22{bottom:182.411987px;}
.y31{bottom:189.371964px;}
.y19{bottom:190.715973px;}
.y30{bottom:210.971970px;}
.yd{bottom:216.011963px;}
.y21{bottom:216.011978px;}
.y18{bottom:224.315979px;}
.y49{bottom:225.551994px;}
.y4a{bottom:231.551994px;}
.y17{bottom:241.115982px;}
.yc{bottom:249.611969px;}
.y20{bottom:249.611984px;}
.y2f{bottom:254.171982px;}
.y16{bottom:257.915985px;}
.y2e{bottom:275.771988px;}
.yb{bottom:283.211975px;}
.y1f{bottom:283.211990px;}
.y55{bottom:297.275993px;}
.y2d{bottom:297.371994px;}
.y15{bottom:306.155991px;}
.y1e{bottom:316.812004px;}
.y2c{bottom:318.972000px;}
.y14{bottom:334.955994px;}
.y2b{bottom:340.571999px;}
.ya{bottom:350.411987px;}
.y52{bottom:350.411995px;}
.y1d{bottom:350.412003px;}
.y2a{bottom:362.171997px;}
.y29{bottom:383.771996px;}
.y9{bottom:384.011986px;}
.y1c{bottom:384.012001px;}
.y2{bottom:388.794403px;}
.y13{bottom:392.555992px;}
.y46{bottom:399.024002px;}
.y50{bottom:399.552002px;}
.y28{bottom:405.371994px;}
.y3c{bottom:411.024002px;}
.y4f{bottom:413.952003px;}
.y39{bottom:417.024000px;}
.y8{bottom:417.611990px;}
.y51{bottom:417.611998px;}
.y1b{bottom:417.612005px;}
.y45{bottom:418.223999px;}
.y12{bottom:421.355991px;}
.y3d{bottom:423.552002px;}
.y27{bottom:426.971992px;}
.y54{bottom:426.972000px;}
.y43{bottom:429.024000px;}
.y48{bottom:429.552002px;}
.y3b{bottom:430.223999px;}
.y1{bottom:431.994404px;}
.y4e{bottom:435.552002px;}
.y41{bottom:436.223999px;}
.y44{bottom:437.424002px;}
.y4d{bottom:441.552002px;}
.y3a{bottom:449.424002px;}
.y40{bottom:455.424002px;}
.y38{bottom:463.862938px;}
.y7{bottom:466.733425px;}
.y42{bottom:486.662937px;}
.y37{bottom:492.662937px;}
.y1a{bottom:496.443918px;}
.y6{bottom:500.333427px;}
.y53{bottom:503.347797px;}
.y26{bottom:504.222939px;}
.h2{height:38.800781px;}
.h8{height:41.517578px;}
.he{height:44.343750px;}
.hb{height:47.988281px;}
.hd{height:49.886719px;}
.hc{height:52.970703px;}
.h7{height:66.515625px;}
.ha{height:69.890625px;}
.h6{height:70.150391px;}
.hf{height:72.511522px;}
.h3{height:77.601562px;}
.h4{height:81.539062px;}
.h5{height:81.603516px;}
.h9{height:93.187500px;}
.h1{height:104.835938px;}
.h10{height:149.660156px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x10{left:31.200001px;}
.x7{left:42.079987px;}
.x14{left:43.200001px;}
.xc{left:49.200001px;}
.x11{left:84.160065px;}
.x13{left:91.199997px;}
.x1a{left:109.200012px;}
.x6{left:150.219971px;}
.xd{left:223.199982px;}
.x1{left:264.949997px;}
.x15{left:301.200012px;}
.xa{left:318.000000px;}
.x16{left:319.200012px;}
.x12{left:325.200012px;}
.x1f{left:349.307587px;}
.x5{left:360.581635px;}
.x8{left:373.350006px;}
.x4{left:380.454102px;}
.x2{left:388.000000px;}
.x9{left:428.725002px;}
.x17{left:493.200012px;}
.x3{left:494.760010px;}
.x19{left:517.200012px;}
.x1b{left:523.200012px;}
.x18{left:529.200012px;}
.xb{left:547.200012px;}
.x1e{left:697.200012px;}
.x1c{left:721.200012px;}
.x1d{left:751.200012px;}
.xf{left:757.200012px;}
.xe{left:781.200012px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls1{letter-spacing:-0.800000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-14.509748pt;}
._5{margin-left:-2.447081pt;}
._6{width:1.517998pt;}
._0{width:4.752000pt;}
._4{width:55.232000pt;}
._3{width:482.144000pt;}
._2{width:1794.144061pt;}
.fs1{font-size:74.666667pt;}
.fs6{font-size:77.333333pt;}
.fsa{font-size:85.333333pt;}
.fs8{font-size:96.000000pt;}
.fs9{font-size:98.666667pt;}
.fs3{font-size:128.000000pt;}
.fs5{font-size:130.666667pt;}
.fsb{font-size:132.799998pt;}
.fs2{font-size:149.333333pt;}
.fs4{font-size:152.000000pt;}
.fs7{font-size:170.666667pt;}
.fs0{font-size:192.000000pt;}
.fsc{font-size:288.000000pt;}
.y0{bottom:0.000000pt;}
.y3{bottom:26.049428pt;}
.y36{bottom:50.895894pt;}
.y11{bottom:64.015930pt;}
.y35{bottom:79.695903pt;}
.y5{bottom:103.522644pt;}
.y34{bottom:108.495911pt;}
.y10{bottom:108.815938pt;}
.y25{bottom:108.815959pt;}
.y47{bottom:119.935994pt;}
.y33{bottom:137.295919pt;}
.y3f{bottom:148.735992pt;}
.yf{bottom:153.615946pt;}
.y24{bottom:153.615967pt;}
.y3e{bottom:156.735992pt;}
.y4c{bottom:159.935994pt;}
.y32{bottom:166.095927pt;}
.y4b{bottom:188.735992pt;}
.y4{bottom:195.789314pt;}
.ye{bottom:198.415955pt;}
.y23{bottom:198.415975pt;}
.y22{bottom:243.215983pt;}
.y31{bottom:252.495951pt;}
.y19{bottom:254.287964pt;}
.y30{bottom:281.295959pt;}
.yd{bottom:288.015951pt;}
.y21{bottom:288.015971pt;}
.y18{bottom:299.087972pt;}
.y49{bottom:300.735992pt;}
.y4a{bottom:308.735992pt;}
.y17{bottom:321.487976pt;}
.yc{bottom:332.815959pt;}
.y20{bottom:332.815979pt;}
.y2f{bottom:338.895976pt;}
.y16{bottom:343.887980pt;}
.y2e{bottom:367.695984pt;}
.yb{bottom:377.615967pt;}
.y1f{bottom:377.615987pt;}
.y55{bottom:396.367991pt;}
.y2d{bottom:396.495992pt;}
.y15{bottom:408.207987pt;}
.y1e{bottom:422.416005pt;}
.y2c{bottom:425.296000pt;}
.y14{bottom:446.607992pt;}
.y2b{bottom:454.095998pt;}
.ya{bottom:467.215983pt;}
.y52{bottom:467.215993pt;}
.y1d{bottom:467.216003pt;}
.y2a{bottom:482.895996pt;}
.y29{bottom:511.695994pt;}
.y9{bottom:512.015981pt;}
.y1c{bottom:512.016001pt;}
.y2{bottom:518.392537pt;}
.y13{bottom:523.407990pt;}
.y46{bottom:532.032003pt;}
.y50{bottom:532.736003pt;}
.y28{bottom:540.495992pt;}
.y3c{bottom:548.032003pt;}
.y4f{bottom:551.936005pt;}
.y39{bottom:556.032000pt;}
.y8{bottom:556.815987pt;}
.y51{bottom:556.815997pt;}
.y1b{bottom:556.816007pt;}
.y45{bottom:557.631999pt;}
.y12{bottom:561.807988pt;}
.y3d{bottom:564.736003pt;}
.y27{bottom:569.295990pt;}
.y54{bottom:569.296000pt;}
.y43{bottom:572.032000pt;}
.y48{bottom:572.736003pt;}
.y3b{bottom:573.631999pt;}
.y1{bottom:575.992538pt;}
.y4e{bottom:580.736003pt;}
.y41{bottom:581.631999pt;}
.y44{bottom:583.232002pt;}
.y4d{bottom:588.736003pt;}
.y3a{bottom:599.232002pt;}
.y40{bottom:607.232002pt;}
.y38{bottom:618.483917pt;}
.y7{bottom:622.311234pt;}
.y42{bottom:648.883916pt;}
.y37{bottom:656.883916pt;}
.y1a{bottom:661.925224pt;}
.y6{bottom:667.111237pt;}
.y53{bottom:671.130397pt;}
.y26{bottom:672.297251pt;}
.h2{height:51.734375pt;}
.h8{height:55.356771pt;}
.he{height:59.125000pt;}
.hb{height:63.984375pt;}
.hd{height:66.515625pt;}
.hc{height:70.627604pt;}
.h7{height:88.687500pt;}
.ha{height:93.187500pt;}
.h6{height:93.533854pt;}
.hf{height:96.682030pt;}
.h3{height:103.468750pt;}
.h4{height:108.718750pt;}
.h5{height:108.804688pt;}
.h9{height:124.250000pt;}
.h1{height:139.781250pt;}
.h10{height:199.546875pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x10{left:41.600001pt;}
.x7{left:56.106649pt;}
.x14{left:57.600001pt;}
.xc{left:65.600001pt;}
.x11{left:112.213420pt;}
.x13{left:121.599996pt;}
.x1a{left:145.600016pt;}
.x6{left:200.293294pt;}
.xd{left:297.599976pt;}
.x1{left:353.266663pt;}
.x15{left:401.600016pt;}
.xa{left:424.000000pt;}
.x16{left:425.600016pt;}
.x12{left:433.600016pt;}
.x1f{left:465.743449pt;}
.x5{left:480.775513pt;}
.x8{left:497.800008pt;}
.x4{left:507.272135pt;}
.x2{left:517.333333pt;}
.x9{left:571.633336pt;}
.x17{left:657.600016pt;}
.x3{left:659.680013pt;}
.x19{left:689.600016pt;}
.x1b{left:697.600016pt;}
.x18{left:705.600016pt;}
.xb{left:729.600016pt;}
.x1e{left:929.600016pt;}
.x1c{left:961.600016pt;}
.x1d{left:1001.600016pt;}
.xf{left:1009.600016pt;}
.xe{left:1041.600016pt;}
}
